.btn-default {
    width: 144px;
}

.lbl_default {
    width: 102px;
}

.btn-add-product {
    width: 213px;
}

.lbl-add-product {
    width: 224px;
}

.div-add-product {
    width: fit-content;
    margin: auto;
}

.txt-total {
    text-align: end;
    margin-right: 10px;
}

.img-fluid {
    width: 460px;
    max-height: 350px;
}

.img-product {
    width: 301px;
    height: 400px;
    margin: auto;
}

.form-control-edited {
    width: 78%;
    float: left;
    margin-right: 10px;
}

.form-select {
    width: fit-content;
    height: 41px;
    background-image: none;
}

.btn-manger {
    width: 200px;
}

.input-shipping {
    margin-left: 13px;
    width: 467px;
}

.manager-invoice-inline {
    display: inline-block;
}

.manager-invoice-button {
    width: 120px;
}

.manager-invoice-line {
    width: 262px;
}

.table {
    vertical-align: middle;
}