.btn-default {
    width: 144px;
}

.lbl_default {
    width: 102px;
}

.btn-add-product {
    width: 213px;
}

.lbl-add-product {
    width: 212px;
}

.div-add-product {
    width: fit-content;
    margin: auto;
}

.txt-total {
    text-align: end;
    margin-right: 10px;
}

.img-fluid {
    width: 460px;
    max-height: 350px;
}

.img-product {
    width: 302px;
    height: 206px;
}