<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Account Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<!-- Content -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div>
            <h2 th:text="#{account.title}"></h2>
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col" th:text="#{account.id}"></th>
                    <th scope="col" th:text="#{account.first.name}"></th>
                    <th scope="col" th:text="#{account.last.name}"></th>
                    <th scope="col" th:text="#{account.username}"></th>
                    <th scope="col" th:text="#{account.email}"></th>
                    <th scope="col" th:text="#{account.registration.date}"></th>
                    <th scope="col" th:text="#{account.status}"></th>
                    <th scope="col" th:text="#{account.action}"></th>
                </tr>
                </thead>
                <tbody class="manager-invoice-middle">
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.customerId}"></td>
                    <td th:text="${account.firstName}"></td>
                    <td th:text="${account.lastName}"></td>
                    <td th:text="${account.username}"></td>
                    <td th:text="${account.email}"></td>
                    <td th:utext="${#temporals.format(account.registrationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${account.isAccountNonLocked == true ? 'Active': 'Locked'}"></td>
                    <td>

                        <form class="manager-invoice-inline" action="change-status" method="get">
                            <label>
                                <input hidden="hidden" name="customerId" th:value="${account.customerId}">
                            </label>
                            <label>
                                <input hidden="hidden" name="action"
                                       th:value="${account.isAccountNonLocked == true ? 'Lock' : 'Unlock'}">
                            </label>
                            <span>
            <button type="submit" class="btn btn-lg btn-dark"
                    th:text="${account.isAccountNonLocked == true ? 'Lock' : 'Unlock'}"></button>
                </span>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
