<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragment :: headerFragment}"></div>

<!-- Content -->
<div class="container py-5">
    <div><h2 class="text-center">Create New Account</h2></div>
    <div style="min-height: 27px; width: auto" class="mt-3 text-center">
        <p style="color: red;"></p>
    </div>
    <form action="/signup" method="post">
        <div class="row mt-2 justify-content-center">
            <div class="col-auto row">
                <div class="col-auto">
                    <div class="input-height">
                        <p>First Name:</p>
                    </div>
                    <div class="input-height">
                        <p>Last Name:</p>
                    </div>
                    <div class="input-height">
                        <p>Date of Birth:</p>
                    </div>
                    <div class="input-height">
                        <p>Email:</p>
                    </div>
                    <div class="input-height">
                        <p>Address:</p>
                    </div>
                    <div class="input-height">
                        <p>Username:</p>
                    </div>
                    <div class="input-height">
                        <p>Password:</p>
                    </div>
                    <div class="input-height">
                        <p>Role:</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-height">
                        <input type="text" id="firstName" name="firstName" required="" minlength="4">
                    </div>
                    <div class="input-height">
                        <input type="text" id="lastName" name="lastName" required="" minlength="2">
                    </div>
                    <div class="input-height">
                        <input type="date" id="birthDate" name="birthDate" required="" style="width: 213px">
                    </div>
                    <div class="input-height">
                        <input type="email" id="email" name="email" required="">
                    </div>
                    <div class="input-height">
                        <input type="text" id="address" name="address" required="">
                    </div>
                    <div class="input-height">
                        <input type="text" id="username" name="username" required="" minlength="2">
                    </div>
                    <div class="input-height">
                        <input type="password" id="password" name="password" required="" minlength="2">
                    </div>
                    <div class="input-height">
                        <select class="custom-select" id="role" name="role" required>
                            <option value="ADMIN">ADMIN</option>
                            <option value="OWNER">OWNER</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 btn-default" style="margin: 0 auto">Sign
                up
            </button>
        </div>
    </form>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
