<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sản Phẩm</title>
</head>
<body>
<h1>Danh sách Sản Phẩm</h1>

<form action="/create-invoice" method="post">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm (Tiếng Anh)</th>
            <th>Tên sản phẩm (Tiếng Việt)</th>
            <th>Xuất xứ</th>
            <th>Mô tả (Tiếng Anh)</th>
            <th>Mô tả (Tiếng Việt)</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Chọn</th> <!-- Thêm cột Chọn để chứa checkbox -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productNameEn}"></td>
            <td th:text="${product.productNameVi}"></td>
            <td th:text="${product.origin}"></td>
            <td th:text="${product.descriptionEn}"></td>
            <td th:text="${product.descriptionVi}"></td>
            <td th:text="${product.productPrices.getLast().getPrice()}"></td>
            <td><label>
                <input type="number" name="quantities" value="0" min="0">
            </label></td>
            <label>
                <input type="checkbox" name="selectedProducts" hidden="hidden" checked th:value="${product.productId}">
            </label>
        </tr>
        </tbody>
    </table>

    <!-- Nút mua hàng -->
    <button type="submit">Mua hàng</button>
</form>

<a href="home">Quay lại Trang Chủ</a>

</body>
</html>
