<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Token Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragmentAnonymous :: headerFragmentAnonymous}"></div>

<!-- Content -->
<div class="container py-5 text-center">
    <div class="row">
        <h2 th:text="#{confirm.title}"></h2>

        <div class="mt-2">
            <p th:if="${status == 'agreed'}" th:text="#{notification.token.confirm.success}"></p>
            <p th:if="${status == 'denied'}" th:text="#{notification.token.confirm.fail}"></p>
            <p th:if="${status == 'expired'}" th:text="#{notification.token.expired}"></p>
            <p th:if="${status == 'renew-password-agreed'}" th:text="#{notification.password.changed}"></p>
            <p th:if="${status == 'renew-denied'}" th:text="#{notification.token.sent}"></p>
            <p th:if="${status == 'renew-expired'}" th:text="#{notification.token.expired.twice}"></p>
            <p th:if="${status == 'renew-password-denied'}" th:text="#{notification.email.unexist}"></p>
            <p th:if="${status == 'renew-password-attacked'}" th:text="#{notification.password.cannot.changed}"></p>
            <p th:if="${status == 'token-existing'}" th:text="#{notification.isnt.expired}"></p>
        </div>

        <form action="/reconfirm" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <button type="submit" th:if="${status == 'expired'}" th:text="#{request.new.token}"></button>
        </form>

        <form action="/reconfirm-password" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <button type="submit" th:if="${status == 'renew-expired'}" th:text="#{request.new.token}"></button>
        </form>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
