<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Token Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragmentAnonymous :: headerFragmentAnonymous}"></div>

<!-- Content -->
<div class="container py-5 text-center">
    <div class="row">
        <h2 th:text="#{confirm.title}"></h2>

        <p th:text="${status == 'agreed' ? 'Token confirmed successfully.': ''}"></p>
        <p th:text="${status == 'denied' ? 'Token confirmation failed.': ''}"></p>
        <p th:text="${status == 'expired' ? 'Token has expired. Click the button below to request a new token.' : ''}"></p>
        <p th:text="${status == 'renew-password-agreed' ? 'Your password is changed successfully.': ''}"></p>
        <p th:text="${status == 'renew-denied' ? 'Token already has sent. We cannot renew in this time.' : ''}"></p>
        <p th:text="${status == 'renew-expired' ? 'Token has expired. Click the button below to request a new token to update password.' : ''}"></p>
        <p th:text="${status == 'renew-password-denied' ? 'Your email has not been registered. Please check again.' : ''}"></p>
        <p th:text="${status == 'renew-password-attacked' ? 'Your password can not been updated.' : ''}"></p>

        <form action="/reconfirm" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <button type="submit" th:if="${status == 'expired'}" th:text="#{request.new.token}"></button>
        </form>

        <form action="/reconfirm-password" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <button type="submit" th:if="${status == 'renew-expired'}" th:text="#{request.new.token}"></button>
        </form>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
