<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:if="${logged}">
    <div th:replace="~{fragments/headerFragment::headerFragment}"></div>
</div>
<div th:if="${not logged}">
    <div th:replace="~{fragments/headerFragmentAnonymous::headerFragmentAnonymous}"></div>
</div>

<!-- Banner -->
<div id="template-the-60s-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-the-60s-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-the-60s-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-the-60s-carousel" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5 text-center">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/img/60s_01.png}" alt="Roto product">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success" th:text="#{elegance.gateway}">Gateway to Japanese Elegance</h1>
                            <h3 class="h2" th:text="#{excellence.unveiling}">Unveiling the Essence of Japanese Excellence</h3>
                            <p th:text="#{elegance.description}">Japanese elegance, curated excellence. '60s brings authentic charm and innovation to your lifestyle with our thoughtfully selected products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5 text-center">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/img/60s_02.png}" alt="Bigen product">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex">
                        <div class="text-align-left">
                            <h1 class="h1" th:text="#{charm.authentic}">Authentic Japanese Charm</h1>
                            <h3 class="h2" th:text="#{living.excellence}">Curated Excellence in Japanese Living</h3>
                            <p th:text="#{charm.description}">Discover '60s: Elevate your space with curated Japanese delights. Authenticity meets modern flair for a unique and enriching shopping experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5 text-center">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/img/60s_03.png}" alt="Kurinika product">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex">
                        <div class="text-align-left">
                            <h1 class="h1" th:text="#{oasis.japanese}">Your Japanese Oasis of Elegance</h1>
                            <h3 class="h2" th:text="#{style.contemporary}">Meeting Contemporary Japanese Style</h3>
                            <p th:text="#{oasis.description}">Embrace '60s: Japanese treasures await. Elevate your lifestyle with curated products, blending tradition and modernity for an unforgettable experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-the-60s-carousel"
       role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-the-60s-carousel"
       role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

<!-- Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1" th:text="#{home.categories.month}"></h1>
            <p th:text="#{home.categories.detail}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a th:href="'/product?filter=Hair%20Dye'"><img th:src="@{/img/category_img_01.jpg}" class="rounded-circle img-fluid border" alt="product1"></a>
            <h5 class="text-center mt-3 mb-3" th:text="#{home.categories.1}"></h5>
            <p class="text-center"><a class="btn btn-success" th:text="#{home.more}" th:href="'/product?filter=Hair%20Dye'"></a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a th:href="'/product?filter=Functional%20Food'"><img th:src="@{/img/category_img_03.jpg}" class="rounded-circle img-fluid border"  alt="product3"></a>
            <h2 class="h5 text-center mt-3 mb-3" th:text="#{home.categories.2}"></h2>
            <p class="text-center"><a class="btn btn-success" th:text="#{home.more}" th:href="'/product?filter=Functional%20Food'"></a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a th:href="'/product?filter=Eyes%20Drops'"><img th:src="@{/img/category_img_02.jpg}" class="rounded-circle img-fluid border" alt="product2"></a>
            <h2 class="h5 text-center mt-3 mb-3" th:text="#{home.categories.3}"></h2>
            <p class="text-center"><a class="btn btn-success" th:text="#{home.more}" th:href="'/product?filter=Eyes%20Drops'"></a></p>
        </div>
    </div>
</section>

<!-- Alert -->
<div th:if="${update == 'success'}" class="alert perform show-alert alert-success">
    <i class="far fa-thumbs-up">
        <span class="msg">Update successfully!</span>
    </i>
    <div class="close-button">
        <span class="fas fa-times close-icon"></span>
    </div>
</div>
<div th:if="${order == 'success'}" class="alert perform show-alert alert-success">
    <i class="far fa-thumbs-up">
        <span class="msg">Order successfully!</span>
    </i>
    <div class="close-button">
        <span class="fas fa-times"></span>
    </div>
</div>
<div th:if="${sent == 'success'}" class="alert perform show-alert alert-success">
    <i class="far fa-thumbs-up">
        <span class="msg">Your message is send successfully!</span>
    </i>
    <div class="close-button">
        <span class="fas fa-times"></span>
    </div>
</div>


<!--Footer Fragment-->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
