<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:if="${logged}">
    <div th:replace="~{fragments/headerFragment::headerFragment}"></div>
</div>
<div th:if="${not logged}">
    <div th:replace="~{fragments/headerFragmentAnonymous::headerFragmentAnonymous}"></div>
</div>

<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1" th:text="#{contact.title}">Contact Us</h1>
        <p th:text="#{contact.content}"></p>
    </div>
</div>

<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" role="form" th:action="@{/sent-message}" method="post">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="full-name" th:text="#{about.name}"></label>
                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">

                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="email" th:text="#{about.email}"></label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">

                </div>
            </div>
            <div class="mb-3">
                <label for="subject" th:text="#{about.subject}"></label>
                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">

            </div>
            <div class="mb-3">
                <label for="message" th:text="#{about.message}"></label>
                <textarea class="form-control mt-1" id="message" name="message" placeholder="Message"
                          rows="8"></textarea>

            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3" th:text="#{about.sent}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

<!--Footer Fragment-->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>