<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>60s Store - Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<!-- Container -->
<div class="container py-5">
    <div class="row">

        <!--Categories part -->
        <div class="col-lg-3">
            <h1 class="h2 pb-4" th:text="#{home.categories}"></h1>
            <ul class="list-unstyled templatemo-accordion">

                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" th:href="'/product?filter=Hair%20Dye'"
                   th:text="#{home.categories.1}">
                </a>
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" th:href="'/product?filter=Functional%20Food'"
                   th:text="#{home.categories.2}">
                </a>
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" th:href="'/product?filter=Eyes%20Drops'"
                   th:text="#{home.categories.3}">
                </a>
            </ul>
        </div>

        <!--Products part -->
        <div class="col-lg-9">

            <!-- Title and sort content-->
            <div class="row">
                <div class="col-md-9">
                    <form action="product" method="get" id="search-form">
                        <input type="text" class="form-control form-control-edited" name="keyword" th:placeholder="#{product.search.bar}"
                               aria-label="Text input with segmented dropdown button">
                        <button type="submit" class="bt n-default form-select" th:text="#{product.search}"></button>
                    </form>
                </div>

                <div class="col-md-3 pb-4">
                    <div class="d-flex">
                        <form action="product" method="get" id="sort-form">
                            <select class="form-select form-select-sm text-center" name="sort"
                                    onchange="submitForm()">
                                <option value="default" selected th:text="#{product.open.select}"><b></b></option>
                                <option value="sorta" th:text="#{product.az}">A to Z</option>
                                <option value="sortz" th:text="#{product.za}">Z to A</option>
                                <option value="sortl" th:text="#{product.lh}">Low - High</option>
                                <option value="sorth" th:text="#{product.hl}">High - Low</option>
                            </select>
                            <input type="hidden" name="keyword" th:value="${keyword}">
                            <input type="hidden" name="filter" th:value="${filter}">
                        </form>
                    </div>
                </div>
            </div>

            <!--Content-->
            <div class="row">
                <div th:each="product : ${productPage}" class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid img-product" th:src="${product.imgUrl}"
                                 th:alt="${product.descriptionEn}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li>
                                        <!-- Form to see detail product -->
                                        <form th:action="@{/detailProduct}" method="get">
                                            <input name="id" th:value="${product.productId}" hidden="true">
                                            <button class="btn btn-success text-white mt-2" type="submit">
                                                <i class="far fa-eye"></i>
                                            </button>
                                        </form>
                                    </li>

                                    <li>
                                        <!-- Form to add product to cart -->
                                        <form th:action="@{/addToCart}" method="get">
                                            <input type="hidden" name="productId" th:value="${product.productId}"/>
                                            <button class="btn btn-success text-white mt-2" type="submit">
                                                <i class="fas fa-cart-plus"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a href="shop-single.html" class="h3 text-decoration-none"
                               th:text="${lang == 'en' ? product.productNameEn : product.productNameVi}">Product
                                Name</a>

                            <p class="text-center mt-3-0"
                               th:text="${#numbers.formatDecimal(product.getProductPrices().getLast().getPrice(), 1, 'DEFAULT', 0, 'DEFAULT') + ' VND'}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3" div="row">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item page-button" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                           th:href="@{/product(page=${currentPage - 1}, filter=${filter}, search=${search}, sort=${sort})}">Previous</a>

                    </li>
                    <li class="page-item page-button disabled">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                           th:text="${currentPage + 1}">1</a>
                    </li>
                    <li class="page-item page-button" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                           th:href="@{/product(page=${currentPage + 1}, filter=${filter}, keyword=${keyword}, sort=${sort})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script>
    window.addEventListener("beforeunload", function() {
        localStorage.setItem("scrollPosition", window.scrollY);
    });
</script>
<script th:if="${addCartCompleted}">
    window.addEventListener("load", function() {
        var scrollPosition = localStorage.getItem("scrollPosition");
        if (scrollPosition !== null) {
            window.scrollTo(scrollPosition, scrollPosition);
            localStorage.removeItem("scrollPosition");
        }
    });
</script>
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
