<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Add Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragment :: headerFragment}"></div>

<!-- Content -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2 class="text-center" th:text="#{add.product.title}"></h2>

            <div style="min-height: 27px; width: auto" class="mt-2 text-center">
                <p style="color: red;"></p>
            </div>

            <form th:action="@{/save-product}" method="post">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-height">
                            <p th:text="#{add.product.en.name}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.vi.name}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.en.origin}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.vi.origin}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.en.type}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.vi.type}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.img.url}"></p>
                        </div>
                        <div class="input-detail-text">
                            <p th:text="#{add.product.en.description}"></p>
                        </div>
                        <div class="input-detail-text">
                            <p th:text="#{add.product.vi.description}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{add.product.price}"></p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-height">
                            <input type="text" id="productNameEn" name="productNameEn" class="btn-add-product" required>
                        </div>
                        <div class="input-height">
                            <input type="text" id="productNameVi" name="productNameVi" class="btn-add-product" required>
                        </div>
                        <div class="input-height">
                            <input type="text" id="originEn" name="originEn" class="btn-add-product" required>
                        </div>
                        <div class="input-height">
                            <input type="text" id="originVi" name="originVi" class="btn-add-product" required>
                        </div>
                        <div class="input-height">
                            <select class="custom-select" id="productTypeEn" name="productTypeEn" required>
                                <option value="Hair Dye">Hair Dye</option>
                                <option value="Functional Food">Functional Food</option>
                                <option value="Eyes Drops">Eyes Drops</option>
                            </select>
                        </div>
                        <div class="input-height">
                            <select class="custom-select" id="productTypeVi" name="productTypeVi" required>
                                <option value="Thuốc nhuộm tóc">Thuốc nhuộm tóc</option>
                                <option value="Thực phẩm chức năng">Thực phẩm chức năng</option>
                                <option value="Thuốc nhỏ mắt">Thuốc nhỏ mắt</option>
                            </select>
                        </div>
                        <div class="input-height">
                            <input type="text" id="imgUrl" name="imgUrl" class="btn-add-product" required>
                        </div>
                        <div class="input-detail-text">
                            <textarea id="descriptionEn" name="descriptionEn" class="btn-add-product"></textarea>
                        </div>
                        <div class="input-detail-text">
                            <textarea id="descriptionVi" name="descriptionVi" class="btn-add-product"></textarea>
                        </div>
                        <div class="input-height">
                            <input type="number" id="price" name="price" class="btn-add-product" required>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 btn-default" style="margin: 0 auto" th:text="#{add.product.save}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
