<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Token Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragmentAnonymous :: headerFragmentAnonymous}"></div>

<!-- Content -->
<div class="container py-5">
    <div><h2 class="text-center" th:text="#{update.password.title}"></h2></div>
    <div style="min-height: 27px; width: auto" class="mt-3 text-center">
        <p style="color: red;"></p>
    </div>
    <form action="/update-new-password" method="post">
        <div class="row mt-2 justify-content-center">
            <div class="col-auto row">
                <div class="col-auto">
                    <div class="input-height">
                        <p th:text="#{update.password.new.password}"></p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-height">
                        <input type="password" id="password" name="password" minlength="6" th:placeholder="#{update.password.placeholder}">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="userId" value="">
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 btn-default" style="margin: 0 auto" th:text="#{update.password.update}"></button>
        </div>
    </form>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
