<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/headerFragmentLogin::headerFragmentLogin}"></div>

<!-- Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 th:text="#{login.title}"></h2>

            <div style="min-height: 27px; width: auto" class="mt-2 text-center">
                <p style="color: red;" th:text="${param.error}"></p>
            </div>

            <form action="/login" method="post">
                <div class="mt-2">
                    <label for="username" th:text="#{login.username}"></label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="mt-2">
                    <label for="password" th:text="#{login.password}"> </label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 btn-default" th:text="#{login.sign.in.button}"></button>
            </form>
            <form action="signup">
                <button type="submit" class="btn btn-primary btn-lg btn-light btn-default mt-2 text-primary border border-info" th:text="#{login.sign.up.button}">Sign up</button>
            </form>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
