<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/headerFragmentLogin::headerFragmentLogin}"></div>

<!-- Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 th:text="#{login.title}"></h2>

            <div style="min-height: 27px; width: auto" class="mt-2 text-center">
                <p style="color: red;" th:if="${param.errorPassword}" th:text="#{error.password}"></p>
                <p style="color: red;" th:if="${param.errorLocked}" th:text="#{error.locked}"></p>
                <p style="color: red;" th:if="${param.errorDisable}" th:text="#{error.disable}"></p>
                <p style="color: red;" th:if="${param.error}" th:text="${param.error}"></p>
            </div>

            <form action="/login" method="post">
                <div class="row mt-2 justify-content-center">
                    <div class="col-auto">
                        <div class="input-height">
                            <p th:text="#{login.username}"></p>
                        </div>
                        <div class="input-height">
                            <p th:text="#{login.password}"></p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-height">
                            <input type="text" id="username" name="username" required minlength="6">
                        </div>
                        <div class="input-height">
                            <input type="password" id="password" name="password" required minlength="6">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 btn-default"
                        th:text="#{login.sign.in.button}"></button>
            </form>
            <div class="m-2">
                <a class="btn btn-lg btn-secondary fab btn-default" th:href="@{/oauth2/authorization/google}"
                   th:text="#{login.google}"></a>
            </div>
            <form action="signup">
                <button type="submit"
                        class="btn btn-primary btn-lg btn-light btn-default mt-2 text-primary border border-info"
                        th:text="#{login.sign.up.button}">Sign up
                </button>
            </form>
            <div class="mt-2">
                <a href="forgot-password" th:text="#{login.forget.password}">Forgot password?</a>
            </div>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
