<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<!-- Content -->
<div class="container py-5">
    <div><h2 class="text-center">User Information</h2></div>
    <div class="row mt-5 justify-content-center">
        <div class="col-auto row">
            <div class="col-auto">
                <div class="input-height">
                    <p>First Name:</p>
                </div>
                <div class="input-height">
                    <p>Last Name:</p>
                </div>
                <div class="input-height">
                    <p>Date of Birth:</p>
                </div>
                <div class="input-height">
                    <p>Email:</p>
                </div>
                <div class="input-height">
                    <p>Address:</p>
                </div>
                <div class="input-height">
                    <p>Username:</p>
                </div>
                <div class="input-height">
                    <p>Role:</p>
                </div>
            </div>
            <div class="col-auto">
                <div class="input-height">
                    <input type="text" id="firstName" name="firstName" required minlength="4"
                           th:value="${user.firstName}" disabled>
                </div>
                <div class="input-height">
                    <input type="text" id="lastName" name="lastName" required minlength="2" th:value="${user.lastName}"
                           disabled>
                </div>
                <div class="input-height">
                    <input type="date" id="birthDate" name="birthDate" required style="width: 213px"
                           th:value="${#temporals.format(user.dateOfBirth, 'dd-MM-yyyy')}" disabled>
                </div>
                <div class="input-height">
                    <input type="email" id="email" name="email" required th:value="${user.email}" disabled>
                </div>
                <div class="input-height">
                    <input type="text" id="address" name="address" required th:value="${user.address}" disabled>
                </div>
                <div class="input-height">
                    <input type="text" id="username" name="username" required th:value="${user.username}" disabled>
                </div>
                <div class="input-height">
                    <input type="text" id="role" name="role" required th:value="${user.role.getRolename()}" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
