<!DOCTYPE html>
<html lang="en">

<head>
    <title>60s Store - Token Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{img/logo-no-background.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo-no-background.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
</head>

<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/headerFragmentAnonymous :: headerFragmentAnonymous}"></div>

<!-- Content -->
<div class="container py-5 text-center">
    <div class="row">
        <h2>Update new password</h2>

        <form action="/update-new-password" method="post" class="mt-2">
            <input type="hidden" name="userId" th:value="${user}"/>
            <p>
                <label for="password">New password: </label>
                <input type="password" id="password" name="password" minlength="2"/>
            </p>
            <p>
                <button type="submit">Update password</button>
            </p>
        </form>
    </div>
</div>

<!-- Brand Fragment -->
<div th:replace="~{fragments/brandFragment :: brandFragment}"></div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>

<!-- Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>
